<div class="content">
    <div *nzModalTitle>
        <span>{{
            (isUpdate ? "action.update" : "action.create") | translate
            }}</span>
    </div>
    <div class="row">
        <div class="col-12">
            <form [formGroup]="form">
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-6 mb-2">
                                <label>{{ "clientInfo.name" | translate }}
                                    <span class="text-danger">*</span></label>
                                <input formControlName="name" nz-input
                                    placeholder="{{'clientInfo.enterName' | translate}}" />
                                <ng-container *ngIf="form.get('name')?.touched || form.get('name')?.dirty">
                                    <span class="text-danger" *ngIf="form.get('name')?.hasError('required')">
                                        <mb-not-blank [value]="'clientInfo.name'"></mb-not-blank>
                                    </span>
                                </ng-container>
                            </div>

                            <div class="col-6 mb-2">
                                <label>{{ "clientInfo.email" | translate }}
                                    <span class="text-danger">*</span></label>
                                <input formControlName="email" nz-input 
                                    placeholder="{{'clientInfo.enterEmail' | translate}}" />
                                    <ng-container *ngIf="form.get('email')?.touched || form.get('email')?.dirty">
                                        <span class="text-danger" *ngIf="form.get('email')?.hasError('required')">
                                            <mb-not-blank [value]="'clientInfo.email'"></mb-not-blank>
                                        </span>
                                    </ng-container>
                                    <ng-container *ngIf="form.get('email')?.touched || form.get('email')?.dirty">
                                        <span class="text-danger" *ngIf="form.get('email')?.hasError('pattern')">
                                            <small>{{'clientInfo.email' | translate}} {{'pattern' | translate}}</small>
                                        </span>
                                    </ng-container>
                            </div>

                            <div class="col-6 mb-2">
                                <label>{{ "clientInfo.phone" | translate }}
                                    <span class="text-danger">*</span></label>
                                <input formControlName="phone" nz-input
                                    placeholder="{{'clientInfo.enterPhone' | translate}}" />
                                    <ng-container *ngIf="form.get('phone')?.touched || form.get('phone')?.dirty">
                                        <span class="text-danger" *ngIf="form.get('phone')?.hasError('required')">
                                            <mb-not-blank [value]="'clientInfo.phone'"></mb-not-blank>
                                        </span>
                                    </ng-container>
                                    <ng-container *ngIf="form.get('phone')?.touched || form.get('phone')?.dirty">
                                        <span class="text-danger" *ngIf="form.get('phone')?.hasError('maxlength')">
                                            <small>{{'clientInfo.phone' | translate}} {{'maxLength' | translate}}</small>
                                        </span>
                                    </ng-container>
                                    <ng-container *ngIf="form.get('phone')?.touched || form.get('phone')?.dirty">
                                        <span class="text-danger" *ngIf="form.get('phone')?.hasError('pattern')">
                                            <small>{{'clientInfo.phone' | translate}} {{'pattern' | translate}}</small>
                                        </span>
                                    </ng-container>
                            </div>

                            <div class="col-6 mb-2">
                                <label>{{ "clientInfo.address" | translate }}
                                    <span class="text-danger">*</span></label>
                                <input formControlName="address" nz-input
                                    placeholder="{{'clientInfo.enterAddress' | translate}}" />
                                    <ng-container *ngIf="form.get('address')?.touched || form.get('address')?.dirty">
                                        <span class="text-danger" *ngIf="form.get('address')?.hasError('required')">
                                            <mb-not-blank [value]="'clientInfo.address'"></mb-not-blank>
                                        </span>
                                    </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 text-center" *nzModalFooter>
        <button nz-button nzType="default" class="e-2" (click)="onCancel()">
            {{ "action.cancel" | translate }}
        </button>
        <button nz-button nzType="primary" [disabled]="form.invalid" (click)="onSubmit()">
            {{ (isUpdate ? "action.update" : "action.save") | translate }}
        </button>
    </div>
</div>