<div class="row">
    <div class="col-8 title">
      <mb-table-title [showBack]="true"
        title="{{(action === ROUTER_ACTIONS.update ? 'model.menu.update' : 'model.menu.create' ) | translate }}">
      </mb-table-title>
    </div>
</div>

<div class="row mt-3">
    <div class="col-12">
        <form [formGroup]="form">
            <section class="content mt-3">
                <div class="row mt-2">
                    <div class="col-12 mb-4">
                        <label>{{ 'post.title' | translate }} <span class="text-danger">*</span></label>
                        <input nz-input formControlName="title" class="form-control"
                            placeholder="{{ 'post.title' | translate }}" />
                            <ng-container *ngIf="form.get('title')?.touched || form.get('title')?.dirty">
                                <span class="text-danger" *ngIf="form.get('title')?.hasError('required')">
                                    <mb-not-blank [value]="'post.title'"></mb-not-blank>
                                </span>
                            </ng-container>
                    </div>
                    <div class="col-12 mb-4">
                        <label>{{ 'post.content' | translate }} <span class="text-danger">*</span></label>
                        <editor formControlName="content"
                        [init]="{
                            base_url: '/tinymce',
                            suffix: '.min',
                            height: 500,
                            plugins: [
                                'advlist','autolink',
                                'lists','link','image','charmap','preview','anchor','searchreplace','visualblocks',
                                'fullscreen','insertdatetime','media','table','help','wordcount'
                            ],
                            codesample_languages: [
                                { text: 'TypeScript', value: 'typescript' },
                                { text: 'JavaScript', value: 'javascript' },
                                { text: 'HTML/XML', value: 'markup' },
                                { text: 'CSS', value: 'css' }
                            ],
                            toolbar: 
                                'undo redo | casechange blocks | bold italic backcolor | image \
                                alignleft aligncenter alignright alignjustify | \
                                bullist numlist checklist outdent indent | removeformat | a11ycheck code table',
                            image_description: false,
                            file_picker_types: 'image',
                            images_upload_handler: example_image_upload_handler,
                            image_title: true,
                            image_advtab: false,
                            automatic_uploads: true
                        }"
                        ></editor>
                        <ng-container *ngIf="form.get('content')?.touched || form.get('content')?.dirty">
                            <span class="text-danger" *ngIf="form.get('content')?.hasError('required')">
                                <mb-not-blank [value]="'post.content'"></mb-not-blank>
                            </span>
                        </ng-container>
                    </div>
                </div>
            </section>
        </form>
    </div>
</div>
<div class="row mt-5">
    <div class="col-12 text-center">
        <button nz-button nzType="default" class="me-3" (click)="onCancel()">
            {{ "action.cancel" | translate }}
        </button>
        <button nz-button nzType="primary" [disabled]="form.invalid" (click)="onSubmit()">
            {{ (action === 'update'? 'action.update' : "action.save") | translate }}
        </button>
    </div>
</div>
