::ng-deep.ant-transfer-list-body-customize-wrapper.ng-star-inserted nz-table nz-spin div div nz-table-inner-default div {
    table {
      border: none;
    }
  
    table tbody tr td {
      border: none;
    }
  
    table thead tr:first-child th:first-child {
        border-top-left-radius: 0px;
    }

    table thead tr:first-child th:last-child {
        border-top-right-radius: 0px;
    }

    table tbody tr:last-child td:first-child {
        border-bottom-left-radius: 0px;
    }

    table tbody tr:last-child td:last-child {
        border-bottom-right-radius: 0px;
    }
}

::ng-deep {
    .ant-collapse-content-box {
        background-color: rgba(227,229,232,.5);
    }
}