<div class="title mb-3">
    <mb-table-title [showBack]="true" [title]="'send.sms.push'"></mb-table-title>
</div>
<div class="mt-4"> 
    <nz-collapse>
        <nz-collapse-panel
          *ngFor="let panel of panels"
          [nzHeader]="panel.name | translate"
          [nzActive]="panel.active"
          [nzDisabled]="panel.disabled"
        >
            <div class="p-3 text-center">
                <span>
                    <b>{{'post.title' | translate}}: </b>
                    {{post?.title}}
                </span>
            </div>
            <div class="p-3 text-center">
                <div>
                    <b>{{'post.content' | translate}}:</b>
                </div>
                <div [innerHTML]="post?.content" class="mt-3">
                </div>
            </div>
        </nz-collapse-panel>
    </nz-collapse>
</div>

<div class="row mt-3">
    <div class="col-12">
        <section class="content mt-3">
            <div class="row mt-2">
                <div class="col-12 mb-2">
                    <label>
                        {{ 'send.sms.root' | translate }}
                    </label>
                    
                    <div class="mt-4" id="dataTransfer">
                        <nz-transfer [nzListStyle]="{ 'height.px': 600, 'width': '100%' }"
                            [nzRenderList]="[renderList, renderList]"
                            [nzDataSource]="list.length ? list : []" nzShowSearch
                            [nzNotFoundContent]="'send.sms.empty' | translate "
                            [nzTitles]="['send.sms.available' | translate, 'send.sms.select' | translate]">
                            <ng-template
                                #renderList
                                let-items
                                let-direction="direction"
                                let-stat="stat"
                                let-disabled="disabled"
                                let-onItemSelectAll="onItemSelectAll"
                                let-onItemSelect="onItemSelect"
                            >
                                <nz-table #t [nzData]="$asTransferItems(items)" nzSize="small">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>{{"post.info.sms.name" | translate}}</th>
                                            <th>{{"post.info.sms.phone" | translate}}</th>
                                            <th>{{"post.info.sms.address" | translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let data of t.data" (click)="onItemSelect(data)">
                                            <td
                                                [nzChecked]="!!data.checked"
                                                (nzCheckedChange)="onItemSelect(data)"
                                            ></td>
                                            <td>{{ data?.title }}</td>
                                            <td>{{ data?.phone }}</td>
                                            <td>{{ data?.address }}</td>
                                        </tr>
                                    </tbody>
                                </nz-table>
                            </ng-template>
                        </nz-transfer>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<div class="row">
    <div class="col-12 text-center mt-5">
        <button nz-button nzType="default" class="me-2" (click)="onCancel()">
            {{ "action.cancel" | translate }}
        </button>

        <button nz-button nzType="primary" class="me-2" (click)="onSubmit()">
            {{  "action.send" | translate }}
        </button>
    </div>
</div>