<div class="content">
    <div *nzModalTitle>
        <span>{{
            (isUpdate ? "action.update" : "action.create") | translate}}</span>
    </div>
    <div class="row">
        <div class="col-12">
            <form [formGroup]="form">
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-6 mb-2">
                                <label>{{ "reddit.group.name" | translate}}
                                    <span class="text-danger">*</span></label>
                                <input formControlName="name" nz-input
                                    placeholder="{{'reddit.group.enterName' | translate}}" />
                                    <ng-container *ngIf="form.get('name')?.touched || form.get('name')?.dirty">
                                        <span class="text-danger" *ngIf="form.get('name')?.hasError('required')">
                                            <mb-not-blank [value]="'reddit.group.name'"></mb-not-blank>
                                        </span>
                                    </ng-container>
                            </div>

                            <div class="col-6 mb-2">
                                <label>{{ "reddit.group.nameUrl" | translate }}
                                    <span class="text-danger">*</span></label>
                                <input formControlName="nameUrl" nz-input 
                                    placeholder="{{'reddit.group.enterNameUrl' | translate}}" />
                                    <ng-container *ngIf="form.get('nameUrl')?.touched || form.get('nameUrl')?.dirty">
                                        <span class="text-danger" *ngIf="form.get('nameUrl')?.hasError('required')">
                                            <mb-not-blank [value]="'reddit.group.nameUrl'"></mb-not-blank>
                                        </span>
                                    </ng-container>
                            </div>

                            <div class="col-12 mb-2">
                                <label>{{ "reddit.group.description" | translate }}
                                    <span class="text-danger">*</span></label>
                                <textarea formControlName="description" nz-input
                                    placeholder="{{'reddit.group.enterDescription' | translate}}">
                                </textarea>
                                <ng-container *ngIf="form.get('description')?.touched || form.get('description')?.dirty">
                                    <span class="text-danger" *ngIf="form.get('description')?.hasError('required')">
                                        <mb-not-blank [value]="'reddit.group.description'"></mb-not-blank>
                                    </span>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 text-center" *nzModalFooter>
        <button nz-button nzType="default" class="e-2" (click)="onCancel()">
            {{ "action.cancel" | translate }}
        </button>
        <button nz-button nzType="primary" [disabled]="form.invalid" (click)="onSubmit()">
            {{ (isUpdate ? "action.update" : "action.save") | translate }}
        </button>
    </div>
</div>