<!--<div class="dashboard">-->
<!--  <img class="image" src="assets/images/dashboard.png" alt="dashboard">-->
<!--  <div class="title">-->
<!--    <img class="ms-2" src="assets/images/amc-logo.svg" alt="logo">-->
<!--    <span>Tặng giá trị - Vững niềm tin</span>-->
<!--  </div>-->
<!--  <div class="qr-content">-->
<!--    <h5 class="mb-3">Quét mã QR</h5>-->
<!--    <p>Để trải nghiệm ứng dụng trên điện thoại</p>-->
<!--    <qrcode [qrdata]="qrCode"-->
<!--            [width]="200"-->
<!--            [margin]="1"-->
<!--            [errorCorrectionLevel]="'M'">-->
<!--    </qrcode>-->
<!--    <p class="mt-3 mb-1">Hoặc tải ứng dụng tại cửa hàng</p>-->
<!--    <p class="mb-1">Chúng tôi đã có mặt trên các nền tảng</p>-->
<!--    <div class="download">-->
<!--      <div class="card-app-store">-->
<!--        <img (click)="download(APP_STORE)" src="assets/images/app-store.svg" alt="app-store">-->
<!--      </div>-->
<!--      <div class="card-google-play">-->
<!--        <img (click)="download(GOOGLE_PLAY)" src="assets/images/google-play.svg" alt="google-play">-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="mobile-app">-->
<!--    <img src="assets/images/mobile-app.svg" alt="mobile-app">-->
<!-- </div>-->
<!--</div> -->

<div class="background-dashboard">
  <div class="title-content">
    <!-- <img
      src="assets/images/logo.jpg"
      alt="logo"
      [width]="300"
      id="evotek-logo"
    /> -->
    <p class="slogan">Digital Marketing</p>
  </div>
</div>
