<div class="content">
    <mb-table-title [title]="'clientInfo.list'"></mb-table-title>
    <!-- filter element -->
    <nz-table class="content mt-3">
      <div [formGroup]="form" class="filter-element">
        <div class="row p-4">
          <div class="col-3">
            <label>{{ "common.keyword" | translate }}</label>
            <nz-input-group nzPrefixIcon="search" class="search-group">
              <input type="text" nz-input formControlName="keyword" [placeholder]="'model.user.searchTitle' | translate"/>
            </nz-input-group>
          </div>
         </div>
        <div class="row mt-3 mb-3 text-center">
          <div class="col-12">
            <button class="me-3" nz-button nzType="default" (click)="resetSearch()">
              {{ "action.reset" | translate }}
            </button>
            <button nz-button nzType="primary" (click)="searchForm()">
                {{ "common.search" | translate }}
            </button>
          </div>
        </div>
      </div>
    </nz-table>
    <div class="row mt-3">
      <div class="col-12 text-end" >
        <mb-button [type]="'primary'" class="me-3" [icon]="'plus'" [text]="'action.create' | translate" (click)="create()">
        </mb-button>
      </div>
    </div>
    <!--end filter element -->
    <div class="row mt-3">
      <div class="col-12">
        <nz-table  #table [nzData]="postList" [nzNoResult]="noDataResult">
          <thead>
            <tr>
                <th nzAlign="center">{{ "common.index" | translate }}</th>
                <th nzAlign="center">
                    {{ 'post.title' | translate }}
                </th>
                <th nzAlign="center">
                  {{ 'post.content' | translate }}
              </th>
                <th nzAlign="center">
                  {{ 'post.createdAt' | translate }}
                </th>
                <th nzAlign="center">
                    {{ "action.msg" | translate }}
                </th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let item of postList; let i = index">
                <tr>
                    <td nzAlign="center">{{ i + 1 }}</td>
                    <td nzAlign="center">{{ item.title }}</td>
                    <td nzAlign="center" nz-tooltip>{{
                      item.content |
                      limitWord:25 }}></td>
                    <td nzAlign="center">{{ item.createdAt }}</td>
                    <td nzAlign="center">
                        <mb-button-action [action]="'edit'" className="center" nzTooltipTitle="{{ 'action.update' | translate }}"
                            nzTooltipPlacement="top" nz-tooltip (click)="update(item)">
                        </mb-button-action>
                        <mb-button-action [action]="'delete'" [className]="'center'" (click)="delete(item)"
                            nzTooltipTitle="{{'action.delete' | translate}}" nzTooltipPlacement="top" nz-tooltip>
                        </mb-button-action>
                    </td>
                </tr>
            </ng-container>
          </tbody>
        </nz-table>
        <mb-pagination [pageIndex]="pageIndex" [pageSize]="pageSize" [total]="total" (onChange)="onQuerySearch($event)"
            [pageSizeOptions]="pageSizeOptions">
        </mb-pagination>
      </div>
    </div>
  </div>
<ng-template #noDataResult>
<mb-no-data></mb-no-data>
</ng-template>

  